<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.xigou.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.xigou.domain.Brand">
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="englishName" property="englishName" />
        <result column="firstLetter" property="firstLetter" />
        <result column="description" property="description" />
        <result column="product_type_id" property="productTypeId" />
        <result column="sortIndex" property="sortIndex" />
        <result column="logo" property="logo" />
        <result column="pid" property="productType.id"/>
        <result column="pname" property="productType.name"/>
    </resultMap>
    <resultMap id="BaseResultMap1" type="cn.itsource.xigou.domain.Brand">
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="englishName" property="englishName" />
        <result column="firstLetter" property="firstLetter" />
        <result column="description" property="description" />
        <result column="product_type_id" property="productTypeId" />
        <result column="sortIndex" property="sortIndex" />
        <result column="logo" property="logo" />

    </resultMap>
    <select id="brandPageList" resultMap="BaseResultMap">
        SELECT
        b.id,
        b.createTime,
        b.updateTime,
        b.name,
        b.englishName,
        b.firstLetter,
        b.description,
        b.sortIndex,
        b.logo,
        p.id AS pid,
        p.name AS pname
        FROM t_brand b LEFT JOIN t_product_type p ON b.product_type_id=p.id
    </select>

</mapper>
